.list
    position relative
    padding 0
    list-style-type none

    & > .wrapper
        content-visibility auto
        contain-intrinsic-size 200px

        &:hover,
        &:focus
            & ~ .function
                z-index 1
                opacity 1
                transform translateY(0)
                transition opacity .2s ease-out, transform .2s ease-out, z-index 0s ease-out

        & > .card
            display flex
            flex-direction column
            margin 8px 0
            padding 12px 24px
            background-color var(--root)
            box-shadow 0 4px 16px rgba(0,0,0,.1)
            border-radius 4px
            transition box-shadow .2s ease-out
            animation card-in .15s ease-out

            &:hover,
            &:focus
                box-shadow 0 8px 32px rgba(0,0,0,.15)

            &.-preload
                & > .detail
                    & > .name,
                    & > .price
                        width 75%
                        height 36px
                        background var(--preload)
                        border-radius 4px

                    & > .price
                        width 64px

                        &::after
                            content ""

                & > .option
                    & > .name
                        width 35%
                        height 16px
                        margin-right 12px
                        background var(--preload)
                        border-radius 4px

            & > .detail
                display flex
                flex-direction row
                justify-content space-between
                align-items center
                width 100%
                margin 0 0 8px
                padding 8px 0 8px

                & > .name
                    color var(--title)
                    font-size 32px
                    font-weight 500
                    text-transform capitalize
                    margin 0
                    cursor default

                & > .price
                    color var(--detail)
                    font-size 21px
                    font-weight 300
                    margin 0
                    padding 0 0 0 12px
                    white-space nowrap
                    cursor default

                    &::after
                        content " ฿"

            & > .option
                display block
                width 100%
                margin 0
                padding 0

                & > .name
                    appearance none
                    color var(--detail)
                    font-size 16px
                    font-weight 300
                    text-align left
                    margin 0
                    padding 4px 16px 4px 0
                    border 0
                    background-color transparent
                    text-transform capitalize
                    cursor pointer
                    transition color .2s ease-out
                    outline none

                    &:hover,
                    &:focus
                        color var(--link)

.function
    position absolute
    z-index 1
    left 0
    bottom -12px + (-20px) + (-32px)
    display block
    opacity 0
    background-color transparent
    padding 8px 0
    transform translateY(12px)
    transition opacity .2s ease-out, transform .2s ease-out, z-index .4s linear
    content-visibility auto
    contain-intrinsic-size 40px

    &:hover,
    &:focus
        z-index 1
        opacity 1
        transform translateY(0)
        transition opacity .2s ease-out, transform .2s ease-out, z-index 0s ease-out

    & > .balloon
        display flex
        flex-direction column
        justify-content flex-start
        align-items flex-start
        padding 8px 0
        background-color var(--snack)
        border 0
        border-radius 6px
        backdrop-filter blur(4px)
        -webkit-backdrop-filter blur(4px)
        box-shadow 0 4px 16px rgba(0,0,0,.2)

        @media screen and (prefers-color-scheme dark)
            box-shadow 0 4px 16px rgba(0,0,0,.5)

        & > .action
            appearance none
            -webkit-appearance none
            display flex
            flex-direction row
            justify-content flex-start
            align-items center
            width 100%
            min-width 160px
            font-size 18px
            color var(--title)
            font-weight 300
            padding 8px
            background-color transparent
            border 0
            transition background-color .2s ease-out
            outline none
            cursor pointer

            &:hover,
            &:focus
                background-color var(--active)

            & > .icon
                width 24px
                height 24px
                margin 0 8px 0 4px
                padding 1.5px
                color var(--detail)