#search
    top 20px
    position sticky
    display flex
    flex-direction row
    align-items center
    width 440px
    margin 60px auto 20px auto
    padding 0 12px
    background-color var(--root)
    border-radius 6px
    box-shadow 0 4px 16px rgba(0,0,0,.1)

    & > .icon
        margin 12px

    & > .search
        display flex
        flex 1
        width 100%
        font-size 28px
        color var(--title)
        background-color transparent
        padding 16px 4px
        border 0
        outline none

        &:placeholder
            color var(--detail)

    @media screen and (max-width 568px)
        &
            width 90%

    @media screen and (prefers-color-scheme)
        box-shadow 0 4px 16px rgba(0,0,0,.5)