#not-found
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 100%
    min-height 100vh
    min-height -webkit-fill-available
    padding 0 20px

    & > .illust
        display block
        width 300px
        margin 0 0 40px

    & > .title
        font-size 36px
        color var(--title)
        font-weight 700
        margin 0 0 16px
        text-align center

    & > .detail
        font-size 16px
        color var(--detail)
        font-weight 300
        line-height 1.375em
        margin 0
        text-align center