#menu-list
    display flex
    flex-direction column
    width 440px
    margin 0 auto
    padding 0 0 20px

    @media screen and (max-width 568px)
        &
            width 100%
            padding 0 5%

#menu-fetch
    display block
    width 100%

    & > .illust
        display block
        width 80%
        margin 20px auto 40px auto

    & > .title
        width 100%
        font-size 36px
        color var(--title)
        text-align center
        margin 16px 0

    & > .detail
        display block
        font-size 16px
        color var(--detail)
        text-align center
        font-weight 300
        margin 0