#sort
    display flex
    flex-direction column
    justify-content flex-start
    align-items flex-start
    width 440px
    margin 0 auto

    & > .toggler
        display flex
        flex-direction row

        & > .icon
            display inline-block
            width 18px
            height 18px
            margin 0 4px 0 0
    
    & > .toggler,
    & > .controller > .row > .toggler
        appearance none
        -webkit-appearance none
        color var(--detail)
        font-size 16px
        font-weight 400
        padding 8px 16px
        background-color transparent
        border 0
        border-radius 4px
        outline none
        transition background-color .15s ease-out
        cursor pointer

        &:hover,
        &:focus
            background-color var(--active)

        &.-active
            background-color var(--active)

    & > .controller
        display flex
        flex-direction column
        justify-content flex-start
        align-items flex-start
        margin 8px 0 16px
        overflow hidden
        transition height .2s ease-out, margin .2s ease-out

        &.-close
            height 0
            margin 0

        & > .row
            display flex
            flex-direction row
            justify-content flex-start
            align-items flex-start
            margin 2px 0

            & > .toggler
                margin 0 4px 0 0

    @media screen and (max-width 567.9px)
        &
            width 90%