<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><% preact.title %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <meta name="title" content="Dreamin Edge" />
        <meta
            name="description"
            content="Browse and search for Maidreamin Menu with receipt calculation."
        />
        <meta name="author" content="SaltyAom" />
        <link rel="icon" href="/assets/dreamin.png" />

        <meta property="og:title" content="Dreamin Edge" />
        <meta
            property="og:description"
            content="Browse and search for Maidreamin Menu with receipt calculation."
        />
        <meta property="article:author" content="SaltyAom" />
        <meta property="og:site_name" content="Dreamin Edge" />
        <meta
            property="og:image"
            content="https://dreamin-edge.now.sh/assets/external/dreamin.png"
        />
        <meta property="og:image:width" content="1920" />
        <meta property="og:image:height" content="1080" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />

        <meta name="mobile-web-app-capable" content="yes" />
        <link rel="manifest" href="/assets/manifest.json" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Dreamin Edge" />
        <meta
            name="twitter:description"
            content="Browse and search for Maidreamin Menu with receipt calculation."
        />
        <meta name="twitter:site" content="@SaltyAom" />
        <meta
            name="twitter:image"
            content="https://dreamin-edge.now.sh/assets/external/dreamin.png"
        />
        <meta name="twitter:creator" content="@SaltyAom" />

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-title" content="Dreamin Edge" />
        <link rel="apple-touch-icon" href="/assets/apple-icon.jpg" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-touch-fullscreen" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="default">

        <link
            href="assets/splashscreens/iphone5_splash.png"
            media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
            rel="apple-touch-startup-image"
        />
        <link
            href="assets/splashscreens/iphone6_splash.png"
            media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
            rel="apple-touch-startup-image"
        />
        <link
            href="assets/splashscreens/iphoneplus_splash.png"
            media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"
            rel="apple-touch-startup-image"
        />
        <link
            href="assets/splashscreens/iphonex_splash.png"
            media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
            rel="apple-touch-startup-image"
        />
        <link
            href="assets/splashscreens/iphonexr_splash.png"
            media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
            rel="apple-touch-startup-image"
        />
        <link
            href="assets/splashscreens/iphonexsmax_splash.png"
            media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
            rel="apple-touch-startup-image"
        />
        <link
            href="assets/splashscreens/ipad_splash.png"
            media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
            rel="apple-touch-startup-image"
        />
        <link
            href="assets/splashscreens/ipadpro1_splash.png"
            media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
            rel="apple-touch-startup-image"
        />
        <link
            href="assets/splashscreens/ipadpro3_splash.png"
            media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
            rel="apple-touch-startup-image"
        />
        <link
            href="assets/splashscreens/ipadpro2_splash.png"
            media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
            rel="apple-touch-startup-image"
        />

        <link
            rel="prefetch"
            as="image"
            href="/assets/illustrations/not_found.svg"
        />
        <link rel="preconnect" href="https://dreamin-edge-api.now.sh/menu" />
        <% preact.headEnd %>
    </head>
    <body>
        <% preact.bodyEnd %>
    </body>
</html>
